// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.demo-block {
  border: 1px solid #eaeefb;
  border-radius: 4px;
  transition: .2s;
  padding: 20px 10px;
  max-width: 800px;
  margin: auto;
}

.stats-result {
  border: 1px solid #eaeefb;
  border-radius: 4px;
  transition: .2s;
  min-height: 100px;
  color: gray;
  padding: 5px 10px;
}
